body {
  margin: 0;

  position: absolute;
  width: 550px;
  height: 729px;
  left: 696px;
  top: 126px;

  background: #1f2937;
}

.top-container {
  position: absolute;
  width: 550px;
  height: 285px;
  left: 0px;
  top: 0px;

  background: #6943ff;
}

#title {
  position: absolute;
  width: 448.4px;
  height: 38px;
  left: 51px;
  top: 33px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  /* identical to box height, or 136% */

  text-align: center;
  letter-spacing: -0.03em;

  color: #ffffff;
}

#unit-el {
  box-sizing: border-box;

  position: absolute;
  width: 117px;
  height: 83px;
  left: 217px;
  top: 101px;

  border: 2px solid #b295ff;
  border-radius: 5px;
}
